
       <div class="col s12 m5 right">
          <div class="card">
            <div class="card-image">
              <img src="{{image}}">
              <span class="card-title">{{name}}</span>
            </div>
            <div class="card-content">
              <ul>
                <li>Name: {{name}}</li>
                <li>Birthdate: {{birthdate}}</li>
                <li>Race: {{race}}</li>
                <li>Origin: {{origin}}</li>
                <li>Sex: {{sex}}</li>

                <h5>{{quote}}</h5>
            </div>
          </div>
        </div>